{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create A New Wiki Page</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" class="form-control">
    </form>

{% endblock %}