{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="allListings">
        {% for listing in listings %}
            <div class="listingDiv">
                <h4><a href="{% url 'details' listing.id %}">{{listing.title}}</a></h3>
                <p><b>Date Posted:</b> {{listing.posted}}</p>
                {% if request.user == listing.owner %}
                <p><b>Date Updated:</b> {{listing.updated}}</p>
                {% endif %}
                {% if listing.photo %}
                <img src="{{listing.photo}}">
                {% endif %}
                <p><b>Description:</b></p>
                <p>{{listing.description}}</p>
                <p><b>Current Price:</b> ${{listing.price}}</p>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}